<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат процесса</title>
</head>
<body style="margin: 0; padding: 0; background: #76b852 !important; font-family: sans-serif;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="width:80%; height: 80%; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); background: #FFFFFF; padding: 45px;">
        <h1>Загруженное вами изображение:</h1>
        <img width="500" height="300" src="/static/images/{{ filename }}" width:>
        <p>    
            <h1>Преобразованные текст из изображения:</h1>
            "{{ text }}"
        </p>
    </div>
    </div>
</body>
</html>